{% extends "base.html" %}
{% block content %}
{% include 'search_header.html' %}
<div class="container">
    <div>
    <h1>About Edey</h1>
    <h4>We are making it easier for users to compare prices about the items they care about</h4>
    <p>Price comparison is an expensive and time consuming task for many people.
        They have to jump from one site to the other wasting their internet data, and time.
        They sometimes aren't even aware of other stores that sell these products.
        We are making our mark by searching all the stores we can find for prices of products and making sure the customer
        is always confident about a purchase decision.</p>
        <br><hr><br>
    <h2>Developers</h2>
    <table class="table table-sm">
        <thead>
            <th>Name</th>
            <th>Role</th>
            <th>Algorithim avatar</th>
            <th>Quote</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="https://twitter.com/MrFobilli">Folarin</a>
                </td>
                <td>
                    Master in Software Engineering, Scale, Architecture, Product Development
                </td>
                <td>
                    Breadth first search
                </td>
                <td>
                    We will never know tomorrow because just when we are about to know it, it becomes today.
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://twitter.com/timabiolaidowu">Tim</a>
                </td>
                <td>
                    Doctor in Statistics, Data Science, and Advisory
                </td>
                <td>
                    Depth first search
                </td>
                <td>
                    Life is a complex deterministic system.
                </td>
            </tr>
        </tbody>
    </table>
        <br><hr><br>
        <h2>Jobs</h2>
    <table class="table table-sm">
        <thead>
            <th>Title</th>
            <th>What you must know</th>
            <th>what you will be doing</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    Big Data Software Engineer - Crawler & Indexing Optimization
                </td>
                <td>
                    <ol>
                        <li>BS or MS or PhD in Computer Science, Mathematics or equivalent (autodidacts may also apply)</li>
                        <li>Experience with large-scale, distributed, and highly scalable systems</li>
                        <li>Desire to work in a fast-paced, creative environment</li>
                        <li>Passionate about working on a system used by millions of people</li>
                        <li>Have in depth understanding and application of data structures and algorithms especially graph algorithms e.g BFS</li>
                        <li>Understands that learning is essential in a fast paced environment</li>
                        <li>Ready to try out new things and apply cutting edge solutions</li>
                        <li>Ready to work with Statisticians and Data Scientists</li>
                        <li>Loves math and can translate real world problems into a math domain and back to create a working solution</li>
                    </ol>
                </td>
                <td>
                    <ul>
                        <li>Experience with search and indexing systems e.g solr or elastic search</li>
                        <li>Confident with Python and Bash scripts, wouldnt mind learning Java</li>
                        <li>Confident with a scalable container stack e.g Docker on Kubernetes</li>
                        <li>Interested in Machine Learning</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Senior Interface Developer - UI/UX Veteran
                </td>
                <td>
                    <ol>
                        <li>BS or MS or PhD in Arts, Computer Science Mathematics or equivalent (autodidacts may also apply)</li>
                        <li>Ability to simplify complex features and put yourself in the user's shoes</li>
                        <li>Passionate about graphics design and able to write code that looks just like the design</li>
                        <li>Desire to work in a fast-paced, creative environment</li>
                        <li>Passionate about working on a system used by millions of people</li>
                        <li>Loves acting on user feedback</li>
                        <li>Understands that learning is essential in a fast paced environment</li>
                        <li>Ready to try out new things and apply cutting edge solutions</li>
                    </ol>
                </td>
                <td>
                    <ul>
                        <li>Can write Mobile Ready HTML code</li>
                        <li>Ability to build mobile apps in Android, Swift or a Hybrid framework will be a plus</li>
                        <li>Ability to design unique user interfaces</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    CEO/COO
                </td>
                <td>
                    <ol>
                        <li>BSc, MSc, or MBA, or PhD in Business</li>
                        <li>Passionate about working on a system used by millions of people</li>
                        <li>Has successfully grown a project into a startup and then into a profitable organisation</li>
                        <li>Understands that learning is essential in a fast paced environment</li>
                        <li>Ability to converse with investors on a familiar level</li>
                        <li>Identify opportunities for growth</li>
                        <li>Ensure the ship is heading in the right direction and there are no leakages</li>
                        <li>Passionate about technology in the 21st century</li>
                    </ol>
                </td>
                <td>
                    <ul>
                        <li>Ability to seek funding</li>
                        <li>Ability to develop and maintain relationship with our partners</li>
                        <li>Ready to serve the best interest of the customer</li>
                        <li>Understands finance and human capital in depth</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <i>Send an email with your CV to us by clicking <a href="mailto:withinetsolutions@gmail.com">here</a></i>
</div>
</div>
{% endblock %}