<header class="results-header">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="{{url_for('home')}}">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo-small">
                </a>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="home-search-form">
                            <form method="get" action="{{ url_for('search')}}">
                                <input autocomplete=off class="typeahead" name="q" type="text" placeholder="Type product name, brand or website to search" value="{{ q }}"/>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav nav-link">
                                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 child-right" style="display: none">
                <a href="#">Account</a>
            </div>
        </div>
    </div>
</header>
